In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [32]:
surgery_amt_avg_tbl = pd.read_csv('/Users/Janey_jiayan/Downloads/Humana_Data/surgery_amt_avg_tbl.csv')

In [33]:
surgery_most_recent_day_tbl = pd.read_csv('/Users/Janey_jiayan/Downloads/Humana_Data/surgery_most_recent_day_tbl.csv')

In [34]:
surgery_amt_avg_tbl.head()

    Unnamed: 0             id Avg_Amt_Spent_Surgery
0  event_descr            NaN               Surgery
1            0  ID10010854159                2314.0
2            1  ID10013863216              12337.42
3            2   ID1002482139              50042.33
4            3  ID10036954381                4643.0

In [41]:
surgery_most_recent_day_tbl.head()

    Unnamed: 0             id Most_Recent_Day_Surgery
0  event_descr            NaN                 Surgery
1            0  ID10010854159                    -421
2            1  ID10013863216                    -200
3            2   ID1002482139                    -742
4            3  ID10036954381                    -560

In [43]:
surgery_amt_avg_tbl = surgery_amt_avg_tbl.drop(surgery_amt_avg_tbl.columns[[0]], axis=1)

In [45]:
surgery_amt_avg_tbl.head()

              id Avg_Amt_Spent_Surgery
0            NaN               Surgery
1  ID10010854159                2314.0
2  ID10013863216              12337.42
3   ID1002482139              50042.33
4  ID10036954381                4643.0

In [46]:
surgery_amt_avg_tbl = surgery_amt_avg_tbl.drop(surgery_amt_avg_tbl.index[0])

In [47]:
surgery_amt_avg_tbl.head()

              id Avg_Amt_Spent_Surgery
1  ID10010854159                2314.0
2  ID10013863216              12337.42
3   ID1002482139              50042.33
4  ID10036954381                4643.0
5  ID10074598346                1452.0

In [48]:
surgery_most_recent_day_tbl = surgery_most_recent_day_tbl.drop(surgery_most_recent_day_tbl.columns[[0]], axis=1)

In [50]:
surgery_most_recent_day_tbl.head()

              id Most_Recent_Day_Surgery
0            NaN                 Surgery
1  ID10010854159                    -421
2  ID10013863216                    -200
3   ID1002482139                    -742
4  ID10036954381                    -560

In [51]:
surgery_most_recent_day_tbl = surgery_most_recent_day_tbl.drop(surgery_most_recent_day_tbl.index[0])

In [52]:
surgery_most_recent_day_tbl.head()

              id Most_Recent_Day_Surgery
1  ID10010854159                    -421
2  ID10013863216                    -200
3   ID1002482139                    -742
4  ID10036954381                    -560
5  ID10074598346                    -246

## Join two surgery tables

In [53]:
surgery_most_recent_day_tbl.shape

(5804, 2)

In [54]:
surgery_amt_avg_tbl.shape

(5804, 2)

In [58]:
joined_tbl = surgery_most_recent_day_tbl.merge(surgery_amt_avg_tbl, on="id", how="inner")
joined_tbl.shape

(5804, 3)

In [59]:
joined_tbl.head(10)

              id Most_Recent_Day_Surgery Avg_Amt_Spent_Surgery
0  ID10010854159                    -421                2314.0
1  ID10013863216                    -200              12337.42
2   ID1002482139                    -742              50042.33
3  ID10036954381                    -560                4643.0
4  ID10074598346                    -246                1452.0
5  ID10125698107                    -515    13372.949999999999
6  ID10144726843                    -310               5395.34
7  ID10166893764                      -9    34370.840000000004
8  ID10167700196                    -428              41851.79
9  ID10169051312                    -385                 995.0

In [102]:
cnt_tbl_fin = pd.read_csv('/Users/Janey_jiayan/Downloads/Humana_Data/cnt_tbl_fin.csv', header=1)

In [103]:
cnt_tbl_fin.head()

,event_descr,Unnamed: 1,Fully Paid Claim,Inbound Call by Other,Inbound Call by Prov,New diagnosis - CAD,New diagnosis - CHF,New diagnosis - CPD,New diagnosis - Diabetes,New diagnosis - Hypertension,Surgery
0,0,ID10010854159,43.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,ID10013863216,19.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,ID10024447278,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ID1002482139,149.0,5.0,5.0,1.0,0.0,1.0,0.0,0.0,1.0
4,4,ID1003386406,48.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [104]:
cnt_tbl_fin.columns

Index(['event_descr', 'Unnamed: 1', 'Fully Paid Claim',
       'Inbound Call by Other', 'Inbound Call by Prov', 'New diagnosis - CAD',
       'New diagnosis - CHF', 'New diagnosis - CPD',
       'New diagnosis - Diabetes', 'New diagnosis - Hypertension', 'Surgery'],
      dtype='object')

In [105]:
cnt_tbl_fin = cnt_tbl_fin.rename(columns={"Unnamed: 1":"id"})

In [106]:
cnt_tbl_fin.head()

,event_descr,id,Fully Paid Claim,Inbound Call by Other,Inbound Call by Prov,New diagnosis - CAD,New diagnosis - CHF,New diagnosis - CPD,New diagnosis - Diabetes,New diagnosis - Hypertension,Surgery
0,0,ID10010854159,43.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1,ID10013863216,19.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,ID10024447278,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,ID1002482139,149.0,5.0,5.0,1.0,0.0,1.0,0.0,0.0,1.0
4,4,ID1003386406,48.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [108]:
cnt_tbl_fin = cnt_tbl_fin.drop(cnt_tbl_fin.columns[[0]],axis=1)

In [111]:
cnt_tbl_fin.head()

,id,Fully Paid Claim,Inbound Call by Other,Inbound Call by Prov,New diagnosis - CAD,New diagnosis - CHF,New diagnosis - CPD,New diagnosis - Diabetes,New diagnosis - Hypertension,Surgery
0,ID10010854159,43.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0
1,ID10013863216,19.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,ID10024447278,21.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ID1002482139,149.0,5.0,5.0,1.0,0.0,1.0,0.0,0.0,1.0
4,ID1003386406,48.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0

In [112]:
cnt_tbl_fin.dtypes

id                               object
Fully Paid Claim                float64
Inbound Call by Other           float64
Inbound Call by Prov            float64
New diagnosis - CAD             float64
New diagnosis - CHF             float64
New diagnosis - CPD             float64
New diagnosis - Diabetes        float64
New diagnosis - Hypertension    float64
Surgery                         float64
dtype: object